

<app-left-navigation>

    <div class="edit-profile-wr">
        <div class="edit-wr">
            <form >
            <div class="profile-section">
                <div class="image-with-upload">
                    <div class="image-w">
                        <img src="assets/images/noti_idol.jpg">
                    </div>
                    <label class="image-up" for="upload-photo">
                        <input type="file" id="upload-photo" hidden>
                        <img src="assets/images/Upload-camera-Icon.jpg">
                    </label>
                </div>
                <h1 class="profile-header">William doe</h1>
                <p class="member">Member sins 2020</p>
                <div class="verified-wrap">
                    <span class="vf-By">Verified with: </span>
                    <img src="assets/images/gmailIcon.png">
                </div>
            </div>

            <div class="form-group">
                <input type="text" placeholder="First Name" value="William" class="form-control"> 
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last Name" value="Doe" class="form-control"> 
            </div>
            <div class="form-group">
                <a class="change_password" [routerLink]="">Change Password <img src="assets/images/right-arrow-red.png"></a> 
            </div>

            <button type="button" class="btn save-btn">Save</button>
        </form>

        </div>
    </div>
</app-left-navigation>

