

<app-left-navigation>

    <div class="seller-chater-details-wr">
        <div class="inner-chat">
            <div class="backbutton">
            <a class="back_button"> johnson </a>
        </div>
            <div class="main-cht">
                <div class="other-user">
                    <div class="profile-image">
                        <img src="assets/images/noti_idol.jpg">
                    </div>
                    <div class="cht-content">
                        <div class="name-header">
                            <h2 class="name">Johnson</h2>
                            <p class="date-time">10:01 p.m</p>
                        </div>
                        <p class="chat-text">Lorem ipsum dolor sit amet consectetur obcaecati aperiam?</p>
                    </div>
                </div>
                <div class="self-chat">
                    <div class="cht-content">
                        <div class="name-header">
                            <h2 class="name">Johnson</h2>
                            <p class="date-time">10:01 p.m</p>
                        </div>
                        <p class="chat-text">Lorem ipsum dolor sit amet consectetur ?</p>
                    </div>
                </div>
                <div class="other-user">
                    <div class="profile-image">
                        <img src="assets/images/noti_idol.jpg">
                    </div>
                    <div class="cht-content">
                        <div class="name-header">
                            <h2 class="name">Johnson</h2>
                            <p class="date-time">10:01 p.m</p>
                        </div>
                        <p class="chat-text">Lorem ipsum dolor sit amet consectetur obcaecati aperiam?</p>
                    </div>
                </div>
                <div class="self-chat">
                    <div class="cht-content">
                        <div class="name-header">
                            <h2 class="name">Johnson</h2>
                            <p class="date-time">10:01 p.m</p>
                        </div>
                        <p class="chat-text">Lorem ipsum dolor sit amet consectetur ?</p>
                    </div>
                </div>

                <div class="self-chat">
                    <div class="cht-content">
                        <div class="name-header">
                            <h2 class="name">Johnson</h2>
                            <p class="date-time">10:01 p.m</p>
                        </div>
                        <p class="chat-text">Lorem ipsum dolor sit amet consectetur ?</p>
                    </div>
                </div>


            </div>
            <div class="chat-input-wr">
                <input type="text" class="chat-input" placeholder="Type a new message...">
                <div class="send-action">
                    <label for="attachment" class="attachment">
                        <input type="file" hidden id="attachment">
                        <img src="assets/images/attachment-pin.png">
                    </label>
                    <button class="btn btn-sendMessage">
                        <img src="assets/images/send-icon.png">
                    </button>
                </div>
            </div>
        </div>
    </div>


</app-left-navigation>

