 

<app-left-navigation>
   
    <div class="all-review-wrapper">

        <div class="review-item">
            <div class="image-review">
                <img src="assets/images/noti_idol.jpg">
            </div>
            <div class="name-conetnt">
                <h1 class="user-name">Prakash Pandey</h1>
                <span class="type-of-user"> Seller</span>
                <div class="rating-bar">
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa grey fa-star" aria-hidden="true"></i>
                    <i class="fa grey fa-star" aria-hidden="true"></i>
                </div>
                
                <p class="review_description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex placeat explicabo sapiente eum nihil obcaecati odio! Nesciunt nulla sint, labore magnam, alias adipisci reprehenderit autem similique.</p>
            </div>
        </div>
        <div class="review-item">
            <div class="image-review">
                <img src="assets/images/noti_idol2.jpg">
            </div>
            <div class="name-conetnt">
                <h1 class="user-name">Andrew Hedge</h1>
                <span class="type-of-user"> Seller</span>
                <div class="rating-bar">
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa grey fa-star" aria-hidden="true"></i> 
                </div>
                
                <p class="review_description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex placeat explicabo sapiente eum nihil obcaecati odio! Nesciunt nulla sint, labore magnam, alias adipisci reprehenderit autem similique.</p>
            </div>
        </div>
        <div class="review-item">
            <div class="image-review">
                <img src="assets/images/noti_idol2.jpg">
            </div>
            <div class="name-conetnt">
                <h1 class="user-name">Mithron Troop</h1>
                <span class="type-of-user"> Buyer</span>
                <div class="rating-bar">
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa yellow fa-star" aria-hidden="true"></i>
                    <i class="fa grey fa-star" aria-hidden="true"></i> 
                </div>
                
                <p class="review_description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex placeat explicabo sapiente eum nihil obcaecati odio! Nesciunt nulla sint, labore magnam, alias adipisci reprehenderit autem similique.</p>
            </div>
        </div>


        <div class="all-pagination"> 
                <ul class="pagination justify-content-center">
                  
                  <li class="page-item pagination-active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">.</a></li>
                  <li class="page-item"><a class="page-link" href="#">.</a></li>
                  <li class="page-item"><a class="page-link" href="#">.</a></li>
                  <li class="page-item"><a class="page-link" href="#">10</a></li>
                </ul> 
        </div>

    </div>
</app-left-navigation>

