

<app-left-navigation>

    <div class="my-listing-wrapper">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Commercial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Sold</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Expired</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <!-- /products -->
                <div class="row">
                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/ladder.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 84</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> ladder Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/android9Image.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 150</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> You can make excisting old things to the new </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/hammer.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 164</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> hammer Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Temporibus, similique!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/dell-laptop.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 674</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Dell inspiron 4520</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/alerm-clock.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 200</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Lorem ipsum dolor sit, amet consectetur</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/drill.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 14</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    quis!
                                </p>
                            </div>
                        </div>
                    </div>                   
                </div>

            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <!-- /products -->
                <div class="row">
                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/ladder.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 84</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> ladder Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/android9Image.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 150</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> You can make excisting old things to the new </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/hammer.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 164</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> hammer Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Temporibus, similique!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/dell-laptop.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 674</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Dell inspiron 4520</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/alerm-clock.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 200</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Lorem ipsum dolor sit, amet consectetur</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/drill.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 14</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    quis!
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- /products -->
                <div class="row">
                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/ladder.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 84</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> ladder Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/android9Image.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 150</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> You can make excisting old things to the new </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/hammer.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 164</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> hammer Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Temporibus, similique!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/dell-laptop.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 674</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Dell inspiron 4520</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/alerm-clock.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 200</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Lorem ipsum dolor sit, amet consectetur</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-6 col-sm-6 latest-product">
                        <div class="product-card">
                            <div class="featured-like">
                                <button class="btn btn-outline-success">featured</button>
                                <button class="btn heart"> <i class="trash_icon fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="image-content">
                                <img src="assets/images/drill.jpg">
                            </div>
                            <div class="price-section">
                                <div class="price-bar">
                                    <h2 class="price">usd 14</h2>
                                    <h3 class="times">1 Day ago</h3>
                                </div>
                                <p class="desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
                                    quis!
                                </p>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>



    </div>
</app-left-navigation>

