<section class="section-container">
    <div class="content-wrapper">
        <div class="content-heading">
            <div class="row">
                <div class="col-lg-12">
                    <strong>
                        <!-- <i class="fa fa-product-hunt" aria-hidden="true"></i>  -->
                        {{displayCategoryName}}
                    </strong>
                </div>
            </div>
        </div>

        <div class="mb-1 alert alert-success" role="alert" *ngIf="successDiv">{{message}}
            <button type="button" class="cus-msg-close-btn" (click)="closeMessageDiv()">X</button>
        </div>
        <div class="mb-1 alert alert-danger" role="alert" *ngIf="errorDiv">{{message}}
            <button type="button" class="cus-msg-close-btn" (click)="closeMessageDiv()">X</button>
        </div>

        <div class="row" *ngIf="categoryListDiv">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Search Category:</label>
                    <input class="form-control" type="text" [(ngModel)]="searchInput" placeholder="Search by category">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="input-group mb-1">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="addNew()"><i class="fa fa-plus-circle"></i> Add New </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 table-responsive text-black">
                <table class="table table-striped table-hover cus-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Category</th>
                            <!-- <th>Created Date</th> -->
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let getCategory of getCategoryDetails | searchFilter:searchInput | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                            <td>{{ getIndex(i) }}</td>
                            <td>{{getCategory?.category_name}}</td>
                            <!-- <td>{{getCategory?.createdAt | date}}</td> -->
                            <td *ngIf="getCategory?.isBlock">
                                <span class="badge badge-danger">In Active</span>
                            </td>
                            <td *ngIf="!getCategory?.isBlock">
                                <span class="badge badge-success">Active</span>
                            </td>
                            <td>
                                <span class="badge badge-success mr-2" style="cursor:pointer;" (click)="startEdit(getCategory)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <tfoot>
                    <tr>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </tr>
                </tfoot>
            </div>
        </div>

        <div class="row" *ngIf="isAddDiv">
            <div class="col-lg-12 mb-2" style="border-bottom: 1px solid gray;">
                <h4 (click)="closeAdd()">
                    <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Create New Category</h4>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control" name="category" [(ngModel)]="newCategoryList.category_name" placeholder="Enter category name" #category_name="ngModel">
                </div>
                <p class="valid_message" *ngIf="category_name.invalid">* Category name is required
                </p>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label>Image</label>
                    <input type="file" accept="image/*" (change)="onSelectFile($event)">
                </div>
            </div>
            <div class="col-lg-6" *ngIf="newCategoryList.category_image!=''">
                <div class="form-group">
                    <label>Preview Image</label>
                    <img [src]="newCategoryList.category_image" width="100%">
                </div>
            </div>
            <div class="col-lg-12 mt-4">
                <button type="submit" class="btn btn-success mr-3" (click)="addCategoryDetails()" [disabled]="newCategoryList.category_image=='' || newCategoryList.category_name==''">
                    <strong><i class="fa fa-check"></i> Create</strong>
                </button>
                <button type="submit" class="btn btn-danger" (click)="closeAdd()">
                    <strong><i class="fa fa-times"></i> Cancel</strong>
                </button>
            </div>
        </div>

        <div class="row" *ngIf="isEditDiv">
            <div class="col-lg-12 mb-2" style="border-bottom: 1px solid gray;">
                <h4 (click)="closeEdit()">
                    <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Edit Category</h4>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control" name="category" [(ngModel)]="editCategoryList.category_name" #edit_category_name="ngModel">
                </div>
                <p class="valid_message" *ngIf="edit_category_name.invalid">* Category name is required
                </p>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Block / Unblock</label>
                    <select class="form-control" name="status" [(ngModel)]="editCategoryList.isBlock">
                        <option value="true">Block</option>
                        <option value="false">Un Block</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2" *ngFor="let img of editCategoryList?.category_image;index as i">
                <div class="form-group">
                    <label>Image</label>
                    <img src="{{categoryImageUrl}}{{img}}" alt="" width="100%">
                </div>
            </div>
            <div class="col-lg-12 mt-4">
                <button type="submit" class="btn btn-success mr-3" (click)="editCategoryDetails(editCategoryList)" [disabled]="editCategoryList.category_name==''">
                    <strong><i class="fa fa-check"></i> Update</strong>
                </button>
                <button type="submit" class="btn btn-danger" (click)="closeEdit()">
                    <strong><i class="fa fa-times"></i> Cancel</strong>
                </button>
            </div>
        </div>
    </div>
</section>