.cmsMain button{ 
    text-align: center; 
    width: 100%;
    background-color: #ff6700;
    border-radius: 25px;
    color: white;
    padding: 7px;
    margin: 15px 0 5px 0;
    font-size: 15px;
}
.contDescript{ text-align: center; margin-bottom: 15px;}
.contDescript p{ margin-bottom: 0; font-size: 14px;}
.contDescript p.descA{ font-weight: 600; color: #333;}
.cms-wrapper{
    padding-bottom: 50px;
}

