<html>
<head>
</head>
    <body>
        <p>
            Hi  ,<br/>&emsp;You are now admin of Trade <br/>&emsp;Login Credential<br/>&emsp;Email : {{email}}<br/>&emsp;Password : {{password}}<br /><br/>
        Best regards,<br/>
        Trade
        </p>
    </body>
</html>