/* .header-wrapper { background: #f1f1f1; padding: 20px; position: relative;} */

.header-wrapper {
  background: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 73px;
}
.headerMain {
  background: #f1f1f1;
  padding: 8px 20px;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.cat-commerci-wrapper {
  background: #fff;
}
.header-container {
  width: 1600px;
  margin: 0 auto;
}
.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .search-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74%;
}
.header-container .logo-wrapper {
  position: relative;
  max-width: 200px;
  width: 100%;
  margin-right: 30px;
}
.header-container .logo-wrapper:after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  background: #b9b9b9;
  top: 30%;
  right: -17px;
}
.header-wrapper .search-section .search_field {
  width: 350px;
  height: 55px;
  border-radius: 8px;
  margin-right: 8px;
  font-family: "WorkSans-light";
  color: #9e9e9e;
  font-size: 16px;
  background-image: url("../../../assets/images/search-icon.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 25px;
  padding-left: 60px;
}

.header-container .logo-wrapper img {
  outline: none;
  cursor: pointer;
  height: 56px;
}
.header-wrapper .search-section .selectBox {
  width: 200px;
  height: 55px;
  border-radius: 8px;
  margin-right: 8px;
  background-image: url("../../../assets/images/locationIcon.png"),
    url("../../../assets/images/down-arrow.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 10px center, 97% 22px;
  background-size: 19px, 15px;
  padding-left: 32px;
  padding-right: 26px;
  font-size: 16px;
  font-family: "WorkSans-regular";
}

.header-wrapper .search-section .btn-go {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "WorkSans-Medium";
  color: #ff6700;
  min-width: 80px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ff6700;
}
.header-wrapper .search-section .sellBtn {
  display: inline-flex;
  font-size: 18px;
  font-family: "WorkSans-Medium";
  color: #000000;
  margin-left: 13px;
}
.header-wrapper .search-section .sellBtn img {
  margin-right: 10px;
}
.header-wrapper .search-section .sellBtn:focus {
  box-shadow: none;
}
.header-wrapper .search-section .sellBtn:hover {
  color: #ff6700;
}
.header-wrapper .notification-section {
  width: auto !important;
}
.header-wrapper .notification-section .downloadApp {
  cursor: pointer;
  font-size: 18px;
  color: #240186;
  font-family: "WorkSans-Medium";
  text-transform: capitalize;
  white-space: nowrap;
}
.header-wrapper .notification-section .downloadApp img {
  width: 16px;
  padding-bottom: 5px;
  margin-right: 3px;
}

.header-wrapper .notification-section a {
  margin: 0 13px;
  cursor: pointer;
}
.header-wrapper .notification-section {
  display: inline-flex;
  align-items: center;
}
.header-wrapper .notification-section .login-signup {
  font-family: "WorkSans-Medium";
  width: 190px;
  background: #ff6700;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  height: 55px;
  margin-left: 20px;
  white-space: pre;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-wrapper .notification-section .login-signup span {
  font-family: "WorkSans-Medium";
  font-style: italic;
  margin-left: 2px;
}
.header-wrapper .notification-section .profile .login-signup {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .notification-section .profile .login-signup .img-wer {
  min-width: 30px;
  width: 35px;
  border-radius: 50%;
  height: 35px;
  margin-right: 4px;
  display: block;
  overflow: hidden;
}
.header-wrapper .notification-section .profile .login-signup .img-wer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.header-wrapper .notification-section .profile .login-signup .user_name {
  display: inline-block;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
  font-family: "WorkSans-Medium";
  text-overflow: ellipsis;
  max-width: 10ch;
  text-transform: capitalize;
  margin-right: 15px;
}

.header-wrapper .notification-section .profile .dropdown-menu .dropdown-item {
  margin: 0;
  cursor: pointer;
}
.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 15px;
}
.header-wrapper button:focus {
  box-shadow: none;
}
.drawer-navigationMenu .navbar .navbar-brand {
  font-family: "WorkSans-Medium";
  font-size: 18px;
  color: #000;
  cursor: pointer;
}
.drawer-navigationMenu
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link {
  white-space: pre;
  font-family: "WorkSans-regular";
  font-size: 18px;
  color: #000;
}
.drawer-navigationMenu
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item.forWard
  i {
  color: #ff6700;
  margin-left: 20px;
}
.drawer-navigationMenu .topNav {
  border-bottom: 1px solid #f1f1f1;
}
.drawer-navigationMenu .topNav .forWard {
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 15px;
  background: #fff;
}
.drawer-navigationMenu .topNav .backWard {
  margin-top: 0;
  position: absolute;
  top: 6px;
  background: #fff0;
  left: 101px;
}

.drawer-navigationMenu .topNav .forWard a {
  padding: 0 6px;
}
// 22-6-21
// .drawer-navigationMenu .topNav .forWard a i {
//   color: #ff6700;
// }
.drawer-navigationMenu .topNav .backWard a i {
  color: #ff6700;
}
.drawer-navigationMenu .pro-cat-large {
  overflow: scroll;
}
.drawer-navigationMenu .pro-cat-large .navbar-nav .nav-item .nav-link {
  white-space: pre;
}
.drawer-navigationMenu .pro-cat-large .btn.forWard {
  position: absolute;
  right: 14px;
  color: #ff6700;
  padding: 4px;
  font-size: 26px;
  background: #ffff;
}
.toggle_button {
  display: none;
  font-family: "WorkSans-Medium";
  font-size: 18px;
  color: #000;
}
.drawer-navigationMenu .small-logo {
  display: none;
}

.notification_dm {
  display: none;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  z-index: 1;
  max-height: 490px;
  overflow-y: scroll;
}
.noticlss {
  display: block !important;
}
.width-557 {
  width: 575px;
}

.notification_dm .notification_title {
  text-transform: capitalize;
  font-size: 20px;
  font-family: "WorkSans-regular";
  color: #240186;
}
.notification_dm .notification-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: 1px solid #f1f1f1;
  margin-top: 15px;
  box-sizing: border-box;
}
.notification_dm .notification-item .image-area {
  min-width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.notification_dm .notification-item .image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.notification_dm .notification-item .content-area {
  width: 100%;
}
.notification_dm .notification-item .content-area .nme-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  flex-flow: row wrap;
}
.notification_dm .notification-item .content-area .nme-date .name {
  text-transform: capitalize;
  font-size: 22px;
  font-family: "WorkSans-regular";
  color: #000;
}
.notification_dm .notification-item .content-area .nme-date .time_date,
.notification_dm .notification-item .content-area .desc {
  cursor: pointer;
  color: #787878;
  font-size: 15px;
  font-family: "WorkSans-regular";
}

.camera-icon,
.chat-icon,
.notification-icon {
  width: 22px;
  height: 22px;
}
.camera-icon {
  margin-right: 10px;
}
.chat-icon {
  color: #ff6700;
  width: 18px;
}
.notification-icon {
  color: #250187;
  width: 18px;
}

.sellBtn {
  margin-left: 18px !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6700;
}

.notification-section a {
  position: relative;
}
.notific {
  position: absolute;
  z-index: 99;
  right: -12px;
  top: -10px;
  font-size: 10px;
  line-height: 17px;
  width: 22px;
  text-align: center;
  height: 22px;
  background: #ff0000;
  border-radius: 100px;
  padding: 2px;
  color: #fff;
}
// .drawer-navigationMenu .topNav .forWard a i{

// }
// .backWard_color{
//   color: #ff6700;
// }
.drawer-navigationMenu .topNav1 a i{
  color:#ff6700 ;
}
.backWard {
  display: none;
}

@media screen and (max-width: 1760px) {
  .header-container {
    width: 90%;
  }
  .header-wrapper .search-section .search_field {
    width: 360px;
  }
  .header-wrapper .search-section .form-inline {
    flex-flow: row;
  }
}
@media screen and (max-width: 1680px) {
  .header-wrapper .search-section .search_field {
    width: 350px;
  }
  .header-wrapper .search-section .selectBox {
    background-position: 8px center, 92% 22px;
    background-size: 17px, 14px;
  }
  .header-wrapper .notification-section .login-signup {
    font-size: 16px;
  }
  .header-wrapper .notification-section .downloadApp {
    font-size: 16px;
    margin: 0px;
  }
  .drawer-navigationMenu
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .nav-link {
    font-family: "WorkSans-regular";
    color: #000;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
  }
  .header-container .search-download {
    width: 78%;
  }
}
@media screen and (max-width: 1600px) {
  .header-wrapper .search-section .search_field {
    width: 300px;
  }
  .header-container .search-download .notification-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 1560px) {
  .header-container .logo-wrapper {
    max-width: 180px;
  }
  /* .drawer-navigationMenu .navbar .navbar-collapse .navbar-nav{ flex-wrap: wrap;} */
}
@media screen and (max-width: 1530px) {
  .header-wrapper .search-section .search_field {
    width: 250px;
  }
  .header-wrapper .notification-section .downloadApp {
    margin: 0;
    white-space: pre;
  }
}

@media screen and (max-width: 1480px) {
  .header-wrapper .search-section .selectBox {
    background-size: 14px, 13px;
    padding-left: 34px;
    padding-right: 13px;
    padding-top: 9px;
  }
  .header-wrapper .search-section .btn-go {
    min-width: 60px;
  }
  .header-wrapper .notification-section .login-signup {
    margin: 0;
  }
  .header-wrapper .search-section .search_field {
    width: 220px;
    background-position: 8px center;
    background-size: 18px;
    padding-left: 30px;
    line-height: 56px;
  }
  .header-wrapper .search-section .sellBtn {
    font-size: 16px;
    margin-left: 0;
  }
  .header-wrapper .notification-section a {
    margin-left: 0px;
  }
  .header-wrapper .notification-section {
    width: 38% !important;
  }
}
@media screen and (max-width: 1366px) {
  .header-wrapper .notification-section .login-signup {
    font-size: 14px;
    height: 46px;
    margin-left: 0px;
    white-space: pre;
  }
  .header-wrapper .notification-section .downloadApp {
    font-size: 14px;
    white-space: pre;
  }
  .header-wrapper .search-section .search_field {
    height: 47px;
  }
  .header-wrapper .search-section .selectBox {
    height: 46px;
    width: 160px;
  }
  .header-wrapper .search-section .btn-go {
    height: 42px;
  }
  .header-wrapper .search-section .selectBox {
    background-position: 13px center, 93% 17px;
  }
  .drawer-navigationMenu .navbar .navbar-brand,
  .drawer-navigationMenu
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .nav-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 1340px) {
  .header-wrapper .search-section .search_field {
    width: 180px;
  }
  .header-wrapper .notification-section a {
    margin: 0 15px 0 0;
  }
  .header-wrapper .search-section .sellBtn {
    margin-left: 4px;
  }
  .drawer-navigationMenu
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .nav-link {
    font-size: 16px;
  }
  .header-wrapper .notification-section {
    width: 42% !important;
  }
}

@media screen and (max-width: 1260px) {
  .header-wrapper .notification-section .login-signup {
    width: auto;
  }
  .header-wrapper .search-section .selectBox {
    width: 160px;
  }
}
@media screen and (max-width: 1200px) {
  .top-wrapper {
    flex-direction: column;
  }
  .header-container .logo-wrapper {
    margin: 0;
    margin-bottom: 10px;
  }
  .header-wrapper .search-section .search_field {
    width: 250px;
  }
  .header-wrapper .notification-section .profile .login-signup .img-wer {
    width: 30px;
    height: 30px;
  }
  .header-container .search-download {
    width: 86%;
  }
  .header-container {
    width: 100%;
  }
  .header-wrapper .notification-section {
    width: 37% !important;
  }
}

@media screen and (max-width: 1100px) {
  .header-wrapper .search-section .search_field {
    width: 240px;
  }
  .drawer-navigationMenu .navbar {
    flex-wrap: wrap;
  }
}
@media (max-width: 1080px) {
  .header-container .search-download {
    width: 100%;
  }
}
@media screen and (max-width: 1040px) {
  .header-wrapper .search-section .search_field {
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  .header-container .search-download {
    flex-direction: column-reverse;
  }
  .header-container .search-download .notification-section {
    width: 400px;
    margin-bottom: 20px;
  }
  .header-wrapper .notification-section .login-signup {
    height: 40px;
  }
  .drawer-navigationMenu .navbar .navbar-collapse {
    display: block;
  }

  .drawer-navigationMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #290689;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .showData {
    width: 310px !important;
  }
  .toggle_button {
    display: block;
    margin-top: 20px;
  }
  .drawer-navigationMenu .small-logo {
    background: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    display: block;
  }
  .drawer-navigationMenu .small-logo .close_button {
    color: #ffffff;
    position: absolute;
    z-index: 999;
    right: -10px;
    padding: 0;
    background: #ff6700;
    width: 50px;
    height: 26px;
    border-radius: 30px;
    font-weight: bolder;
  }
  .drawer-navigationMenu .navbar {
    padding: 20px;
  }
  .drawer-navigationMenu .navbar .navbar-brand,
  .drawer-navigationMenu
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .nav-link {
    color: #fff;
    margin: 0;
  }
  .header-wrapper .notification-section {
    width: 42% !important;
  }
  .header-container .search-download .notification-section {
    justify-content: space-around;
  }
  .drawer-navigationMenu .topNav .backWard,
  .drawer-navigationMenu .topNav .forWard {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .header-wrapper .notification-section {
    width: 54% !important;
  }
}
@media screen and (max-width: 776px) {
  .notification_dm {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}
@media screen and (max-width: 667px) {
  .header-wrapper .notification-section {
    width: 100% !important;
  }
  .header-container .search-download {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .header-wrapper .search-section .form-inline {
    flex-flow: row;
    flex-wrap: wrap;
  }
  .header-wrapper .search-section .search_field {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .header-wrapper .search-section .form-inline .form-group {
    margin: 0;
  }
  .notification_dm .notification-item {
    flex-direction: column;
  }
  .notification_dm .notification-item .image-area {
    margin: 0;
    margin-bottom: 20px;
  }
  .notification_dm .notification-item .content-area .nme-date .name {
    font-size: 20px;
  }
  .notification_dm .notification-item .content-area .nme-date .time_date,
  .notification_dm .notification-item .content-area .desc {
    font-size: 14px;
  }
  .header-wrapper .search-section .selectBox {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .header-container .search-download .notification-section {
    width: 210px;
    flex-wrap: wrap;
    margin: 10px 0 20px;
  }
  .header-wrapper .notification-section .login-signup {
    width: 210px;
    margin: 10px auto 0;
  }
  .header-wrapper .notification-section {
    width: 100% !important;
  }
  .header-wrapper .search-section .selectBox {
    width: 250px;
  }
}
@media screen and (max-width: 421px) {
  .header-wrapper .notification-section .login-signup {
    width: 100%;
  }
  .header-wrapper .search-section .selectBox {
    width: 200px;
  }
}
@media screen and (max-width: 390px) {
  .header-wrapper .search-section .sellBtn {
    margin-top: 10px;
  }
}
@media screen and (max-width: 375px) {
  .header-wrapper .search-section .selectBox {
    width: 150px;
  }
}
@media(max-width:361px){
  .toggle_button{
      font-size: 15px;
  }
}

/* local modal css */

.modal-footer {
  display: block;
}

.alertBox {
  border: 1px solid #250187;
  padding: 10px 20px;
  border-radius: 50px;
  width: 45%;
  background: #250187;
  color: #fff;
}
.modal-dialog {
  height: 100vh !important;
  display: flex;
}

.modal-content {
  margin: auto !important;
  height: fit-content !important;
}

.modal {
  z-index: 20 !important;
}
.modal-backdrop {
  z-index: 10;
}

/* end locatain modal css */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    overflow-x: hidden;
  }
}

.no-prod {
  text-align: center;
}

.notification-delete {
  cursor: pointer;
  color: red;
}
.topSelect {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.locationSeletTop {
  position: relative;
}

.cpointer {
  cursor: pointer;
}
