 

<app-left-navigation>
    
    <div class="block-list-wrp">
        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol.jpg">
            </div>
            <h3 class="name-blk-person">Prakash Shaw</h3>
             <span class="buyer">Buyer</span>
            <button class="btn unblock">Unblock</button>
        </div>
        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol2.jpg">
            </div>
            <h3 class="name-blk-person">Adam Gilcrist</h3>
             <span class="seller">Seller</span>
            <button class="btn unblock">Unblock</button>
        </div>

        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol3.jpg">
            </div>
            <h3 class="name-blk-person">Subham Gill</h3>
             <span class="buyer">Buyer</span>
            <button class="btn unblock">Unblock</button>
        </div>
        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol.jpg">
            </div>
            <h3 class="name-blk-person">Prakash Shaw</h3>
             <span class="seller">Seller</span>
            <button class="btn unblock">Unblock</button>
        </div>

        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol.jpg">
            </div>
            <h3 class="name-blk-person">Prakash Shaw</h3>
             <span class="buyer">Buyer</span>
            <button class="btn unblock">Unblock</button>
        </div>
        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol2.jpg">
            </div>
            <h3 class="name-blk-person">Adam Gilcrist</h3>
             <span class="seller">Seller</span>
            <button class="btn unblock">Unblock</button>
        </div>

        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol3.jpg">
            </div>
            <h3 class="name-blk-person">Subham Gill</h3>
             <span class="buyer">Buyer</span>
            <button class="btn unblock">Unblock</button>
        </div>
        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol.jpg">
            </div>
            <h3 class="name-blk-person">Prakash Shaw</h3>
             <span class="seller">Seller</span>
            <button class="btn unblock">Unblock</button>
        </div>

        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol.jpg">
            </div>
            <h3 class="name-blk-person">Prakash Shaw</h3>
             <span class="buyer">Buyer</span>
            <button class="btn unblock">Unblock</button>
        </div>
        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol2.jpg">
            </div>
            <h3 class="name-blk-person">Adam Gilcrist</h3>
             <span class="seller">Seller</span>
            <button class="btn unblock">Unblock</button>
        </div>

        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol3.jpg">
            </div>
            <h3 class="name-blk-person">Subham Gill</h3>
             <span class="buyer">Buyer</span>
            <button class="btn unblock">Unblock</button>
        </div>
        <div class="block-person">
            <div class="blk-image">
                <img src="assets/images/noti_idol.jpg">
            </div>
            <h3 class="name-blk-person">Prakash Shaw</h3>
             <span class="seller">Seller</span>
            <button class="btn unblock">Unblock</button>
        </div>
    </div>


 
</app-left-navigation>

