

<app-left-navigation>
    <div class="notification-setting-wrapper">

        <div class="section-notification">
            <div class="title-bar">
                <div class="left-notification">
                    <h2 class="h-type-1">push notifications</h2>
                    <p class="sub-type-1">Push notifications about your listing, activity and updates</p>
                </div>
                <label class="switch-toggle">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>


            <div class="inner-notification-tab">
                <h2 class="push-title">Listing Update</h2>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing change</h2>
                        <p class="sub-type-2">We’ll send you notifications so you can see stat changes about your
                            favorite listings</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Price change</h2>
                        <p class="sub-type-2"> We’ll send you notifications so you can see price changes about your
                            favorite listings</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">New picture added to favourite</h2>
                        <p class="sub-type-2"> We’ll send you notifications so you can see image changes about your
                            favorite listings</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing sold</h2>
                        <p class="sub-type-2"> We’ll send you notifications when your favorite listings is sold by
                            seller </p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing deleted</h2>
                        <p class="sub-type-2">We’ll send you notifications when your favorite listings is deleted by
                            seller </p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing expired</h2>
                        <p class="sub-type-2">We’ll send you notifications when your favorite listings has expired</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br>
                <h2 class="push-title">Listing Update</h2>
                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">New review</h2>
                        <p class="sub-type-2">We’ll send you notifications when other users give you reviews</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">User favourite listing</h2>
                        <p class="sub-type-2">We’ll send you notifications when other users favourite your</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Listing expired</h2>
                        <p class="sub-type-2">We’ll send you notifications when your posted listing gets expired</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>

        <!-- /for email -->
        <div class="section-notification">
            <div class="title-bar">
                <div class="left-notification">
                    <h2 class="h-type-1">Email</h2>
                    <p class="sub-type-1">Email about your listings activity and updates</p>
                </div>
                <label class="switch-toggle">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>


            <div class="inner-notification-tab">
                <h2 class="push-title">Listing Update</h2>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing change</h2>
                        <p class="sub-type-2">We’ll send you notifications so you can see stat changes about your
                            favorite listings</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Price change</h2>
                        <p class="sub-type-2"> We’ll send you notifications so you can see price changes about your
                            favorite listings</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">New picture added to favourite</h2>
                        <p class="sub-type-2"> We’ll send you notifications so you can see image changes about your
                            favorite listings</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing sold</h2>
                        <p class="sub-type-2"> We’ll send you notifications when your favorite listings is sold by
                            seller </p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing deleted</h2>
                        <p class="sub-type-2">We’ll send you notifications when your favorite listings is deleted by
                            seller </p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Favourite listing expired</h2>
                        <p class="sub-type-2">We’ll send you notifications when your favorite listings has expired</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br>
                <h2 class="push-title">Listing Update</h2>
                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">New review</h2>
                        <p class="sub-type-2">We’ll send you notifications when other users give you reviews</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">User favourite listing</h2>
                        <p class="sub-type-2">We’ll send you notifications when other users favourite your</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Listing expired</h2>
                        <p class="sub-type-2">We’ll send you notifications when your posted listing gets expired</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>


        <!-- /for chat -->
        <div class="section-notification">
            <div class="title-bar">
                <div class="left-notification">
                    <h2 class="h-type-1">Chat</h2>
                    <p class="sub-type-1">Push notifications and emails about chat messages</p>
                </div>
                <label class="switch-toggle">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>


            <div class="inner-notification-tab">
                <h2 class="push-title">Push notifications</h2>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Unread messages</h2>
                        <p class="sub-type-2">We’ll send you reminders about unread chat messages</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <h2 class="push-title">Email</h2>

                <div class="title-bar">
                    <div class="left-notification">
                        <h2 class="h-type-2">Unread messages</h2>
                        <p class="sub-type-2">We’ll send you reminders about unread chat messages</p>
                    </div>
                    <label class="switch-toggle">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>

                
            </div>

        </div>

    </div>
</app-left-navigation>

