<!-- <div class="container">
    <div class="card card-container">
        <p id="profile-name" class="profile-name-card">Forgot Password</p>
        <div class="alert alert-danger" role="alert" *ngIf="errDiv">{{message}}</div>
        <div class="alert alert-success" role="alert" *ngIf="successDiv">{{message}}</div>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email address">
            <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        </form>
        <a style="color: #fff" [routerLink]="['/']" class="forgot-password">
            Back
        </a>
    </div>
</div> -->

<div class="container">
    <div class="wrapper">
        <div class="wrap">
            <div class="login_logo">
                <img src="assets/img/icon-384x384.png" alt="logo_login">
            </div>
            <div class="card card-container">
                <p id="profile-name" class="profile-name-card">Forgotten password</p>
                <div class="alert alert-danger" role="alert" *ngIf="errDiv">{{message}}</div>
                <div class="alert alert-success" role="alert" *ngIf="successDiv">{{message}}</div>
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email address">
                    <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
                </form>
                <a style="color: #fff" [routerLink]="['/']" class="forgot-password">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>